In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('train.csv')[['Age','Pclass','Fare','Survived']]

In [4]:
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [5]:
df.isnull().mean()*100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [6]:
X = df.drop(columns=['Survived'])
Y = df['Survived']

In [7]:
xtrain,xtest,ytrain,ytest = train_test_split(X,Y,test_size=0.2,random_state=2)

In [8]:
xtrain.head()

      Age  Pclass     Fare
30   40.0       1  27.7208
10    4.0       3  16.7000
873  47.0       3   9.0000
182   9.0       3  31.3875
876  20.0       3   9.8458

In [9]:
knn = KNNImputer()

xtrain_trf = knn.fit_transform(xtrain)
xtest_trf = knn.transform(xtest)

In [10]:
xtrain_trf

array([[ 40.    ,   1.    ,  27.7208],
       [  4.    ,   3.    ,  16.7   ],
       [ 47.    ,   3.    ,   9.    ],
       ...,
       [ 71.    ,   1.    ,  49.5042],
       [ 33.6   ,   1.    , 221.7792],
       [ 42.8   ,   1.    ,  25.925 ]])

In [12]:
pd.DataFrame(xtrain_trf,columns=xtrain.columns) #tail values imputed

      Age  Pclass      Fare
0    40.0     1.0   27.7208
1     4.0     3.0   16.7000
2    47.0     3.0    9.0000
3     9.0     3.0   31.3875
4    20.0     3.0    9.8458
..    ...     ...       ...
707  30.0     3.0    8.6625
708  24.4     3.0    8.7125
709  71.0     1.0   49.5042
710  33.6     1.0  221.7792
711  42.8     1.0   25.9250

[712 rows x 3 columns]

In [14]:
lr = LogisticRegression()

lr.fit(xtrain_trf,ytrain)
y_pred = lr.predict(xtest_trf)

accuracy_score(ytest,y_pred)

0.7039106145251397

In [16]:
#try with weight attribute of value 'distance' it gives weightage to more to cooridinates 
#which are closer than the other

In [31]:
knn = KNNImputer(n_neighbors=3,weights='distance')

xtrain_trf = knn.fit_transform(xtrain)
xtest_trf = knn.transform(xtest)
lr = LogisticRegression()

lr.fit(xtrain_trf,ytrain)
y_pred = lr.predict(xtest_trf)

accuracy_score(ytest,y_pred)

0.7150837988826816

In [32]:
#accuracy increased with 1% but memory heavy task beacuse we have to upload the whole training
#set to deloy