Mixed Data :
Column contains numeircal and words.
types
1)B5 , C23 , D41(train seats)
  split in two diff 
categorical  num
B            5

2) 8 2 4 A B e 9 1 
    split in two 
cate and num
NA        8
NA        2
NA        4
A         NA
B         NA